@mixin pc {
    @media screen and (min-width:769px) {
        @content
    }
    
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;900&display=swap');

h1,h2,p{
    font-family: 'Noto Sans TC', sans-serif;
}

h2{
    font-weight: 900;
    color: white;
    font-size: 36px;
}

p{
    font-weight: 100;
    color: white;
    font-size: 16px;
    letter-spacing: .1rem;
    line-height: 25px;

}

body {
    background-color: $sec;
    overflow-x: hidden; 
}
  
  
a {
    text-decoration: none;
    display: block;
}

img{
    width: 100%;
    display: block;
    
}


.container{
    width: 85%;
    margin: 0 auto;
    @include pc{
        width: 70%;
    }
}

header{
    position: relative;
    margin-top: 60px ;
    @include pc{
        margin-top: 10px ;
    }
    .logo{
        width: 60%;
        transform: translateY(30%);
        @include pc{
            width: 50%;
            transform: translateY(30%);
            
        }
        
    }
    .cookie{
        position: absolute;
        z-index: 500;
        .one{
            width: 20%;
            transform: translate(10% , -300% ) rotate(-30deg);
        }

        .two{
            width: 30%;
            transform: translate(200% , -550% ) rotate(-30deg);

        }
    }
    .headerPic{
        position: relative;
        width: 85%;
        transform: translate(35%,10%);
        z-index: 5;
        @include pc{
            width: 80%;
            transform: translate(35%,-10%);
            
        }
    }
    .backgroundF{
        position: relative;
        margin-top: -25%;
        z-index: 10;
        @include pc{
            margin-top: -35%;
        }
    }

    .backgroundB{
        width: 50%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    .leafPic{
        width: 100%;
        position: absolute;
        bottom: 15%;
        .leafl{
            width: 30%;
            float: left;
        }
        .leafr{
            width: 20%;
            float: right;
            position: relative;
            z-index: 500;
            transform: translate(5% ,10%) rotate(-30deg);
        }
    }
}

.mainTwo{
    background-color: $primary;
    padding: 50px 0 100px 0;
    .titlePic{
        width: 30%;
        margin: 0 auto;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .character{
            width: 48%;
            @include pc{
                width: 30%;
            }
        }
        .characterPic{
            border-radius: 100%;
            overflow: hidden;
            border: 10px solid white;
        }
        .characterCw{
            text-align: center;
            margin: 20px 0;
            h2{
                margin-bottom: 10px;
            }
        }
    }
}

.mainthree{
    position: relative;
    background-color: $primary;
    padding-bottom: 60px;
    .container{
        @include pc{
            width: 50%;
        }
    }
    .cloundl{
        width: 50%;
        position: absolute;
        top: 5%;
        left: -25%;
    }
    .cloundrS{
        width: 20%;
        position: absolute;
        bottom: 40%;
        right: 20%;
    }

    .cloundr{
        width: 40%;
        position: absolute;
        top: -5%;
        right: -10%;
    }

    .cloundA{
        animation: cloundl-a ease-in-out 2s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: cloundl-a ease-in-out 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: cloundl-a ease-in-out 2s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: cloundl-a ease-in-out 2s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: cloundl-a ease-in-out 2s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%;
    }

    .cookie{
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        .cookiel{
            width: 40%;
     
        }
        .cookier{
            width: 50%;
        }
    }
}




footer{
    height: 5%;
    background-color: $third;
    .footerBg{
        width: 100%;
        transform: translateY(-80%);
        z-index: 500;
        position: relative;
    }

    .footerfont{
        width: 30%;
        transform: translateY(-200%);
    }

}




@keyframes cloundl-a{
    0% {
      transform:  translate(0px,0px)  ;
    }
    50% {
      transform:  translate(20px,0px)  ;
    }
    100% {
      transform:  translate(-1px,1px)  ;
    }
  }
  
  @-moz-keyframes cloundl-a{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    50% {
      -moz-transform:  translate(20px,0px)  ;
    }
    100% {
      -moz-transform:  translate(-1px,1px)  ;
    }
  }
  
  @-webkit-keyframes cloundl-a {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    50% {
      -webkit-transform:  translate(20px,0px)  ;
    }
    100% {
      -webkit-transform:  translate(-1px,1px)  ;
    }
  }
  
  @-o-keyframes cloundl-a {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    50% {
      -o-transform:  translate(20px,0px)  ;
    }
    100% {
      -o-transform:  translate(-1px,1px)  ;
    }
  }
  
  @-ms-keyframes cloundl-a {
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    50% {
      -ms-transform:  translate(20px,0px)  ;
    }
    100% {
      -ms-transform:  translate(-1px,1px)  ;
    }
  }